version: '3.8'

services:
  db:
    build: ./postgres
    container_name: pg_db
    environment:
      POSTGRES_DB: school_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_DB_DRIVER: pgsql
      ADMINER_DEFAULT_SERVER: pg_db
      # ADMINER_DESIGN: nette
      # ADMINER_DESIGN: flat
      ADMINER_DESIGN: hydra
      ADMINER_DEFAULT_DB_NAME: school_db
    depends_on:
      - db

volumes:
  postgres_data: